body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/manflowyoga_yogaformen_beginners_pigeon-reclinedfigure4-HQ.jpg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid1-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #696969 0%, rgba(105,105,105,0.00) 100%);
}
.headerMenu .hide 
{
   display: none!important;
}
.headerMenu .show 
{
   display: block!important;
}
.headerMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #FD5927;
   text-align: left;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.show 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.headerMenu .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(255,255,255,1.00);
   border-radius: 6px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FD5927;
   white-space: nowrap;
}
.headerMenu .dropdown-menu>li>a:hover,
.headerMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .dropdown-menu>li>a.active,
.headerMenu .dropdown-menu>li>a.active:hover,
.headerMenu .dropdown-menu>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.headerMenu .show>.dropdown-menu 
{
   display: block;
}
.headerMenu .show>a 
{
   outline: 0;
}
.headerMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .dropdown.show .dropdown-menu
{
   animation-name: headerMenu-animation;
   animation-duration: 500ms;
   animation-iteration-count: 1;
   animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   animation-fill-mode: forwards;
}
@keyframes headerMenu-animation
{
   0%
   {
      opacity: 0;
      transform: translateY(-10px);
   }
   100%
   {
      opacity: 1;
      transform: translateY(0);
   }
}
.headerMenu .nav>li 
{
   position: relative;
   display: block;
}
.headerMenu .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.headerMenu .nav .show>a,
.headerMenu .nav .show>a:hover,
.headerMenu .nav .show>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.headerMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.headerMenu .nav>li>a>img 
{
   max-width: none;
}
.headerMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
}
.headerMenu:before,
.headerMenu:after
{
   content: " ";
   display: table;
}
.headerMenu:after
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after
{
   clear: both;
}
.headerMenu-navbar-collapse.show 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 6px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.headerMenu .navbar-nav
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.headerMenu .navbar-nav>li>a
{
   color: #FD5927;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
   text-decoration: none;
}
.headerMenu .navbar-nav>li>a.active,
.headerMenu .navbar-nav>li>a.active:hover,
.headerMenu .navbar-nav>li>a.active:focus
{
   color: #FFFFFF;
   background-color: #EDEDED;
   background-image: none;
}
.headerMenu .navbar-toggle
{
   border: 1px solid rgba(79,79,79,0.10);
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar
{
   background-color: #FD5927;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(255,255,255,1.00);
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.show>a,
.headerMenu .navbar-nav>.show>a:hover,
.headerMenu .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav>.show>a .caret,
.headerMenu .navbar-nav>.show>a:hover .caret,
.headerMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FD5927;
   border-bottom-color: #FD5927;
}
.headerMenu .navbar-link
{
   color: #FD5927;
}
.headerMenu .navbar-link:hover
{
   color: #FFFFFF;
}
.headerMenu .navbar-header
{
   color: #FD5927;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header
{
   float: left;
}
.headerMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav>li 
{
   float: left;
}
.headerMenu .container>.navbar-header,
.headerMenu .container>.headerMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.headerMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .show .dropdown-menu>li>a,
.headerMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.headerMenu .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 6px;
}
.headerMenu .navbar-nav>li>a 
{
   color: #FD5927;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus
{
   color: #FEFEFE;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>li>a.active,
.headerMenu .navbar-nav>li>a.active:hover,
.headerMenu .navbar-nav>li>a.active:focus
{
   color: #FEFEFE;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.show>a,
.headerMenu .navbar-nav>.show>a:hover,
.headerMenu .navbar-nav>.show>a:focus
{
   background-color: transparent;
   background-image: none;
   color: #FEFEFE;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #FD5927;
   border-bottom-color: #FD5927;
}
.headerMenu .navbar-nav > li > a.active > .caret,
.headerMenu .navbar-nav > li > a.active:hover > .caret,
.headerMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.headerMenu .navbar-nav>.show>a .caret,
.headerMenu .navbar-nav>.show>a:hover .caret,
.headerMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #FEFEFE;
   border-bottom-color: #FEFEFE;
}
.headerMenu .navbar-link
{
   color: #FD5927;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
#headerMenu-logo
{
   float: left;
}
#headerMenu-logo img
{
   border-width: 0;
   height: auto;
   max-width: 100%;
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_Carousel1
{
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_Carousel1
{
   box-sizing: border-box;
width: 100%;   height: 359px;
}
#Carousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: -webkit-transform 500ms ease-in-out;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#Carousel1 .carousel-item-next:not(.carousel-item-left), #Carousel1 .active.carousel-item-right
{
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
}
#Carousel1 .carousel-item-prev:not(.carousel-item-right), #Carousel1 .active.carousel-item-left
{
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}
#Carousel1 .carousel-innerframe
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -54px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#Carousel1 .carousel-indicators li
{
   display: block;
   float: left;
   padding: 12px 12px 12px 12px;
   width: 12px;
   height: 12px;
   cursor: pointer;
   text-indent: -999px;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url(images/Carousel1-default.png);
}
#Carousel1 .carousel-indicators .active
{
   background-image: url(images/Carousel1-active.png);
}
#Carousel1 .frame
{
   width: 940px;
   display: inline-block;
   float: left;
   height: 359px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading3
{
   text-align: center;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3F3E45;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0px 50px 0px;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0px 50px 0px;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0px 50px 0px;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_IconFont1
{
   background-color: #FD5927;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 100px 100px 100px 100px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 88px;
   width: 88px;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 88px;
   line-height: 88px;
   vertical-align: middle;
   width: 55px;
}
#wb_IconFont1:hover i
{
   color: #FD5927;
}
#wb_IconFont1
{
   -webkit-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_IconFont2
{
   background-color: #FD5927;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 100px 100px 100px 100px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont2
{
   height: 88px;
   width: 88px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 88px;
   line-height: 88px;
   vertical-align: middle;
   width: 74px;
}
#wb_IconFont2:hover i
{
   color: #FD5927;
}
#wb_IconFont2
{
   -webkit-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_IconFont3
{
   background-color: #FD5927;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 100px 100px 100px 100px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont3
{
   height: 88px;
   width: 88px;
}
#IconFont3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 88px;
   line-height: 88px;
   vertical-align: middle;
   width: 74px;
}
#wb_IconFont3:hover i
{
   color: #FD5927;
}
#wb_IconFont3
{
   -webkit-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #38373D;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_servicesCard2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#servicesCard2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#servicesCard2-card-item0
{
   box-sizing: border-box;
   margin: 25px 0px 20px 0px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#servicesCard2-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   color: #DCDFEA;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 20.8px;
}
#servicesCard2-card-item2
{
   display: inline-block;
   height: 57px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 25px 20px 25px;
   border: 2px solid #FD5927;
   border-radius: 30px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#servicesCard2-card-item2
{
   background-color: #3F3E45;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#servicesCard2-card-item2:hover
{
   background-color: #FD5927;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#servicesCard2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 25px 0px 20px 0px;
   padding: 0;
   color: #FFFFFF;
   font-family: "Noto Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   color: #DCDFEA;
   font-family: "Noto Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 20.8px;
}
#Card1-card-item2
{
   display: inline-block;
   height: 57px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 25px 20px 25px;
   border: 2px solid #FD5927;
   border-radius: 30px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card1-card-item2
{
   background-color: #3F3E45;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Card1-card-item2:hover
{
   background-color: #FD5927;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Card1-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 25px 0px 20px 0px;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   color: #DCDFEA;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 20.8px;
}
#Card2-card-item2
{
   display: inline-block;
   height: 57px;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 25px 20px 25px;
   border: 2px solid #FD5927;
   border-radius: 30px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#Card2-card-item2
{
   background-color: #3F3E45;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Card2-card-item2:hover
{
   background-color: #FD5927;
   -webkit-transition: background-color 500ms linear 0ms;
   transition: background-color 500ms linear 0ms;
}
#Card2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0px 0px 10px 0px;
   padding: 0;
   text-align: center;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0px 0px 20px 0px;
   padding: 0;
   text-align: center;
}
#Heading5
{
   color: #FD5927;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/headphone_bw.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FD5927;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3F3E45;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 30px 15px 30px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0px 25px 0px 25px;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0px 0px 20px 0px;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 6px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 6px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FD5927;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
   z-index: 1111 !important;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FD5927;
   border: 0px solid #2E6DA4;
   background-color: transparent;
   background-image: none;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #38373D;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0px 25px 0px 25px;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0px 0px 10px 0px;
   padding: 0;
   text-align: center;
}
#Heading7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 20px 0px;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: block;
   margin: 0px 0px 20px 0px;
   box-sizing: border-box;
   width: 100%;
}
#Editbox2
{
   border: 1px solid #FD5927;
   border-radius: 25px;
   background-color: #FFFFFF;
   background-image: none;
   color: #FD5927;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 26px;
   padding: 4px 15px 4px 15px;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#Editbox2::placeholder
{
   color: #FD5927;
   opacity: 1;
}
#Editbox2::-ms-input-placeholder
{
   color: #FD5927;
}
#Button2
{
   border: 1px solid #FFFFFF;
   border-radius: 20px;
   background-color: #FD5927;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont5
{
   height: 32px;
   width: 27px;
}
#IconFont5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 14px;
}
#wb_IconFont6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont6
{
   height: 32px;
   width: 27px;
}
#IconFont6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 24px;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont7
{
   height: 32px;
   width: 27px;
}
#IconFont7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 22px;
}
#wb_IconFont8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont8
{
   height: 32px;
   width: 27px;
}
#IconFont8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 22px;
}
#wb_IconFont9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont9
{
   height: 32px;
   width: 27px;
}
#IconFont9 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 22px;
}
#wb_IconFont10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont10
{
   height: 32px;
   width: 27px;
}
#IconFont10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 26px;
}
#wb_IconFont11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont11
{
   height: 32px;
   width: 27px;
}
#IconFont11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 27px;
   line-height: 32px;
   vertical-align: middle;
   width: 22px;
}
#Line1
{
   border-color: #FD5927;
   border-style: solid;
   border-bottom-width: 29px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0px 0px 30px 0px;
   padding: 0;
   text-align: center;
}
#Heading6
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 155px;
   height: 172px;
   vertical-align: top;
}
#wb_JavaScript1
{
   margin: 0px 0px 20px 0px;
}
#wb_JavaScript2
{
   margin: 0px 0px 20px 0px;
}
#wb_JavaScript3
{
   margin: 0px 0px 20px 0px;
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0px 0px 10px 0px;
   padding: 0;
   text-align: center;
}
#Heading8
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 20px 0px;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0px 0px 20px 0px;
   box-sizing: border-box;
   width: 100%;
}
#ThemeableButton1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   margin: 0px 20px 0px 0px;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.13);
   padding: 0px 0px 0px 35px;
   text-align: left;
   vertical-align: top;
}
#ThemeableButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton1 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   left: 14px;
   top: 50%;
   margin-top: -6px;
   width: 12px;
   height: 12px;
   color: #FFFFFF;
}
#ThemeableButton1 .ui-primary:before
{
   content: "\f24d";
}
#ThemeableButton1:hover .ui-primary
{
   color: #2B2B2B;
}
#ThemeableButton1:active .ui-primary
{
   color: #FFFFFF;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-left-radius: 2px;
   border-top-left-radius: 2px;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-right-radius: 2px;
   border-top-right-radius: 2px;
}
#ThemeableButton1.ui-button
{
   background-color: #FD5927;
   background-image: none;
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
}
#ThemeableButton1.ui-state-hover, #ThemeableButton1.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#ThemeableButton1.ui-state-active, #ThemeableButton1.ui-button:active
{
   border-color: #FD5927;
   background-color: #FD5927;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton1.ui-button .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton1-default.png');
   background-position: 0 0;
}
#ThemeableButton1.ui-button:hover .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton1-hover.png');
   background-position: 0 0;
}
#ThemeableButton1.ui-button:active .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton1-active.png');
   background-position: 0 0;
}
#ThemeableButton1.ui-visual-focus
{
   box-shadow: none;
}
#ThemeableButton2
{
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   font-style: normal;
   margin: 0;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.13);
   padding: 0px 0px 0px 35px;
   text-align: left;
   vertical-align: top;
}
#ThemeableButton2 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton2 .ui-primary
{
   background-image: none !important;
   text-indent: 0;
   display: inline-block;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   overflow: visible;
   position: absolute;
   left: 14px;
   top: 50%;
   margin-top: -6px;
   width: 12px;
   height: 12px;
   color: #FFFFFF;
}
#ThemeableButton2 .ui-primary:before
{
   content: "\f019";
}
#ThemeableButton2:hover .ui-primary
{
   color: #2B2B2B;
}
#ThemeableButton2:active .ui-primary
{
   color: #FFFFFF;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-left-radius: 2px;
   border-top-left-radius: 2px;
}
#ThemeableButton2.ui-corner-all
{
   border-bottom-right-radius: 2px;
   border-top-right-radius: 2px;
}
#ThemeableButton2.ui-button
{
   background-color: #FD5927;
   background-image: none;
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
}
#ThemeableButton2.ui-state-hover, #ThemeableButton2.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
#ThemeableButton2.ui-state-active, #ThemeableButton2.ui-button:active
{
   border-color: #FD5927;
   background-color: #FD5927;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton2.ui-button .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton2-default.png');
   background-position: 0 0;
}
#ThemeableButton2.ui-button:hover .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton2-hover.png');
   background-position: 0 0;
}
#ThemeableButton2.ui-button:active .ui-icon
{
   background-image: url('images/wb16_jingles-ThemeableButton2-active.png');
   background-position: 0 0;
}
#ThemeableButton2.ui-visual-focus
{
   box-shadow: none;
}
#wb_SubHead div
{
   text-align: center;
}
#wb_SubHead
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#MediaPlayer1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_MediaPlayer1
{
   display: block;
   position: relative;
   margin: 0;
   height: 86px;
   vertical-align: top;
}
